.task-dialog {
    height: 10vh;
    width: 40vh;
    text-align: center;
    justify-content: center;
    background: #ffff88;
}

input[type=text] {
    display: inline-block;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #ffff88;
    border-width: 0 0 2px;
    border-color: green;
    box-sizing: border-box;
}

input[type="text"], select {
    outline: none;
}

.new-task-button {
    text-align: center;
}