.task-dialog {
  height: 10vh;
  width: 40vh;
  text-align: center;
  justify-content: center;
  background: #ffff88;
}

input[type="text"] {
  display: inline-block;
  width: 60%;
  padding: 10px 20px;
  background: #ffff88;
  border-width: 0 0 2px;
  border-color: red;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
}

input[type="text"],
select {
  outline: none;
}

.new-task-button {
  text-align: center;
}
