.todo {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 3px 10px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  border-bottom: 2px solid red;
}
