.todo {
  align-items: center;
  border-bottom: 2px solid red;
  display: flex;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
