.todo {
  align-items: center;
  box-shadow: 0px 2px 0px red;
  display: flex;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
